<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-scene">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="icon keys"></div>
			<div class="title">Customize keys</div>
		</div>
	</div>
	<div class="palm-group">
		<div class="palm-group-title">Functions</div>
		<div class="palm-list" id="functionKeyRows">
			<!--This will be populated automatically!-->
			<!--In retrospect, a list widget would have worked...-->
		</div>
	</div>
	<div class="palm-group">
		<div class="palm-group-title">Macros</div>
		<div class="palm-list" id="macroKeyRows">
			<!--This will be populated automatically!-->
			<!--In retrospect, a list widget would have worked...-->
		</div>
	</div>
	<div x-mojo-element="Button" id="resetButton"></div>
</div>
