<div class="palm-dialog-content">
	<div class="palm-dialog-title">
		<div class="icon macro"></div>
		<div class="title">
			Select new radix
		</div>
	</div>
	<div class="palm-dialog-separator"></div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="title" style="float:left">Radix</div>
					<div x-mojo-element="IntegerPicker" id="radixPicker" style="float:right"></div>
				</div>
			</div>
		</div>
		<div id="ok" x-mojo-element="Button">
	</div>
</div>
